In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\Users\aabidh musthaq\Desktop\MAchine lea projects\Github\machine-learning-models-\House price estiamation sri lanka\House price sri lanka.csv')

In [3]:
df.head()

,Title,Sub_title,Price,Address,Baths,Land size,Beds,House size,Location,Description,Post_URL,Seller_name,Seller_type,published_date,Geo_Address,Lat,Lon
0,House with Land for Sale in Matara for sale,"Posted on 06 Nov 2:32 pm, Matara City, Matara","Rs 5,400,000","Gangodagama Roard,Hakmana,Matara.",1,50.0 perches,3,"1,600.0 sqft","Matara City, Matara","Land for sale with house Matara,Hakmana Gangod...",https://ikman.lk/en/ad/house-with-land-for-sal...,Ishara Dilshan,Member,2021-11-06 14:32:00,"Matara City, Matara, Sri Lanka",80.500000,6.166670
1,à¶ à¶½à·à¶­à· à¶à·à¶¸à¶» 3 à¶ à¶à·à· à...,"Posted on 24 Oct 7:27 am, Athurugiriya, Colombo","Rs 16,800,000",Athurugiriya Galwarusapare,3,8.0 perches,3,"1,480.0 sqft","Athurugiriya, Colombo",*House For Sale In Athurugiriya *Galwarusapare...,https://ikman.lk/en/ad/alut-kaamr-3-k-grh-bhaa...,DILRUWAN REAL ESTATE,Premium-Member,2021-10-24 07:27:00,"Athurugiriya, Colombo, Sri Lanka",79.989929,6.877246
2,Kelaniya - House on 20P Land for sale for sale,"Posted on 17 Nov 5:19 pm, Kelaniya, Gampaha","Rs 20,000,000",Kelaniya- Ranaviru Maldeniya Road,2,20.0 perches,3,"2,800.0 sqft","Kelaniya, Gampaha","Kelaniya- Biyagama road, Ranaviru Maladeniya R...",https://ikman.lk/en/ad/kelaniya-house-on-20p-l...,Provident Paradise (Pvt) Ltd,Member,2021-11-17 17:19:00,"Kelaniya, Gampaha, Sri Lanka",79.914926,6.951178
3,House For Sale in Pamankada Lane Wellawatte Co...,"Posted on 17 Nov 5:07 pm, Colombo 6, Colombo","Rs 187,000,000",Pamankada Lane Wellawatte Colombo.06,5,22.0 perches,5,"4,000.0 sqft","Colombo 6, Colombo",22 Perches House For Sale in Pamankada Lane We...,https://ikman.lk/en/ad/house-for-sale-in-paman...,Colombo Construction Property Developers,Premium-Member,2021-11-17 17:07:00,"Colombo 6, Colombo, Sri Lanka",80.016670,6.866670
4,House For Sale - Attidiya for sale,"Posted on 17 Nov 5:06 pm, Dehiwala, Colombo","Rs 1,300,000",MainRoad Attidiya,1,6.3 perches,2,900.0 sqft,"Dehiwala, Colombo",*à¶ à¶­à·à¶­à·à¶©à·à¶º à¶´à·âà¶»à¶¯à·à·...,https://ikman.lk/en/ad/house-for-sale-attidiya...,Lakdinu Houses,Member,2021-11-17 17:06:00,"Dehiwala, Colombo, Sri Lanka",79.880242,6.838232

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15327 entries, 0 to 15326
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           15327 non-null  object
 1   Sub_title       15327 non-null  object
 2   Price           15327 non-null  object
 3   Address         11191 non-null  object
 4   Baths           15327 non-null  object
 5   Land size       15327 non-null  object
 6   Beds            15327 non-null  object
 7   House size      15327 non-null  object
 8   Location        15327 non-null  object
 9   Description     15327 non-null  object
 10  Post_URL        15327 non-null  object
 11  Seller_name     15327 non-null  object
 12  Seller_type     15327 non-null  object
 13  published_date  15327 non-null  object
 14  Geo_Address     15327 non-null  object
 15  Lat             15327 non-null  float64
 16  Lon             15327 non-null  float64
dtypes: float64(2), object(15)
memory usage: 2.0+ MB

In [5]:
list(df.columns)

['Title',
 'Sub_title',
 'Price',
 'Address',
 'Baths',
 'Land size',
 'Beds',
 'House size',
 'Location',
 'Description',
 'Post_URL',
 'Seller_name',
 'Seller_type',
 'published_date',
 'Geo_Address',
 'Lat',
 'Lon']

In [6]:
df = df.drop(['Title','Sub_title', 'Post_URL','Seller_name','Seller_type','Description','Geo_Address','Lat','Lon','Address'], axis=1)

In [7]:
df.head()

,Price,Baths,Land size,Beds,House size,Location,published_date
0,"Rs 5,400,000",1,50.0 perches,3,"1,600.0 sqft","Matara City, Matara",2021-11-06 14:32:00
1,"Rs 16,800,000",3,8.0 perches,3,"1,480.0 sqft","Athurugiriya, Colombo",2021-10-24 07:27:00
2,"Rs 20,000,000",2,20.0 perches,3,"2,800.0 sqft","Kelaniya, Gampaha",2021-11-17 17:19:00
3,"Rs 187,000,000",5,22.0 perches,5,"4,000.0 sqft","Colombo 6, Colombo",2021-11-17 17:07:00
4,"Rs 1,300,000",1,6.3 perches,2,900.0 sqft,"Dehiwala, Colombo",2021-11-17 17:06:00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15327 entries, 0 to 15326
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Price           15327 non-null  object
 1   Baths           15327 non-null  object
 2   Land size       15327 non-null  object
 3   Beds            15327 non-null  object
 4   House size      15327 non-null  object
 5   Location        15327 non-null  object
 6   published_date  15327 non-null  object
dtypes: object(7)
memory usage: 838.3+ KB

In [9]:
df['Price'] = df['Price'].str.replace('Rs','')

In [10]:
df.head()

,Price,Baths,Land size,Beds,House size,Location,published_date
0,"5,400,000",1,50.0 perches,3,"1,600.0 sqft","Matara City, Matara",2021-11-06 14:32:00
1,"16,800,000",3,8.0 perches,3,"1,480.0 sqft","Athurugiriya, Colombo",2021-10-24 07:27:00
2,"20,000,000",2,20.0 perches,3,"2,800.0 sqft","Kelaniya, Gampaha",2021-11-17 17:19:00
3,"187,000,000",5,22.0 perches,5,"4,000.0 sqft","Colombo 6, Colombo",2021-11-17 17:07:00
4,"1,300,000",1,6.3 perches,2,900.0 sqft,"Dehiwala, Colombo",2021-11-17 17:06:00

In [11]:
df.duplicated().sum()

691

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.isnull().sum()

Price             0
Baths             0
Land size         0
Beds              0
House size        0
Location          0
published_date    0
dtype: int64